<header>
  <section class='about'>
    <div class='face'></div>
    <h1>Andrew Nesbitt</h1>

    <p>A passionate, full stack developer, based in Bath, who loves ruby, open source software, developer-focused events and experimenting with technology</p>
    <p></p>
  </section>
</header>

<section>
  <h2>Projects</h2>
  <article class='project'>
    <h3>
      Split
      <a href='https://github.com/andrew/split'>github.com/andrew/split</a>
    </h3>
    <p>The Rack Based AB testing framework</p>
  </article>
  <article class='project'>
    <h3>
      node-sass
      <a href='https://github.com/andrew/node-sass'>github.com/andrew/node-sass</a>
    </h3>
    <p>Node.js bindings for libsass</p>
  </article>
  <article class='project'>
    <h3>
      24 Pull Requests
      <a href='http://24pullrequests.com/'>24pullrequests.com</a>
    </h3>
    <p>Giving back little gifts of code for Christmas</p>
  </article>
  <article class='project'>
    <h3>
      Cherry Pick
      <a href='http://cherry-pick.tumblr.com/'>cherry-pick.tumblr.com</a>
    </h3>
    <p>A tumblr blog highlighting the best of GitHub</p>
  </article>
</section>

<section>
<h2>Events</h2>

</section>

<section>
<h2>Articles</h2>

</section>