<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Andrew Nesbitt</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
  </head>
  <body>
    <%- body -%>
  </body>
</html>